#colors {
  color: #F2BB15;
  color: #000000;
  color: #0F0F0F;
  color: #333333;
  color: #5A5A5A;
  color: #ECECEC;
  color: #FFFFFF;
}

@font-face {
  font-family: 'DIN Condensed Bold';
  src: url('./assets/DIN Condensed Bold.ttf');
}

@font-face {
  font-family: 'GillSans';
  src: url('./assets/GillSans.ttc');
}

@import url(//fonts.googleapis.com/css?family=Caveat);

h3 {
  font-family: "Caveat";
}

/* NEW */

.background-color-light-blue {
  min-height: 80vh;
}

.nav {
  padding: 0.5rem;
}

/* .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
} */

/* ?? */

.align-items-center {
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-profile {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.img-jam {
  display: inline-block;
  max-width: 100vh;
  height: 50vh;
  object-fit: cover;
}


